.container {
    width: 250px;
    margin: 70px auto 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image_wrapper {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 25px;
}